.zaions__thead {
  float: left;
}

.zaions__thead th {
  display: block;
}

.zaions__tbody {
  float: right;
}

.zaions__popover_btn {
  background-color: inherit;
}

.zaions__popover_box {
  background: rgba(245, 246, 247, 0.95);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  max-width: 210px;
  line-height: normal;
  font-size: 14px;
}
.zaions__info {
  font-size: 13px;
  white-space: break-spaces;
  font-weight: normal;
}

.zaions__info::before {
  content: '';
  display: inline-block;
  height: 22px;
  width: 3px;
  border-radius: 10px;
  background-color: #96a3bd;
  margin-right: 5px;
  /* vertical-align: top; */
}

.zaions__detal_price_new_tag {
  font-family: 'ProximaNova Medium', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  background-color: #60aa69;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  padding: 0px 5px;
  color: #fff;
  font-size: 13px;
  margin-left: 15px;
  vertical-align: top;
}
