.zaions__feature_banner_btn {
  background-color: rgb(237, 242, 254);
  font-size: 18px !important;
  line-height: 1.11;
  padding: 18px 1.5rem;
  border-radius: 8px;
}

.zaions__feature_banner_btn:hover {
  background-color: rgb(206, 218, 250);
}

.row__box_shadow {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 12%),
    0px 4px 5px 0px rgb(0 0 0 / 10%), 0px 1px 10px 0px rgb(0 0 0 / 8%);
}

.zaions__feature_banner_title {
  font-size: 3.5rem;
  padding: 2rem 0;
  font-weight: 800;
}
