.zaions__tertiary {
  border-radius: 6px;
  transition: background 100ms linear;
  text-decoration: none;
  outline: none !important;
  font-size: 20px;
  line-height: 1.11;
  padding: 18px 30px;
  color: #2a5bd7;
  background: #edf2fe;
}

.zaions__tertiary:hover {
  background: #cedafa;
}
.ZaionsCard {
  border: 1px solid transparent;
}
.ZaionsCard:hover {
  border-color: #2a5bd7 !important;
}
.ZaionsCardBtn:hover {
  color: #2a5bd7 !important;
  text-decoration: underline;
}
