.zaions__discover_enterpise_bg {
  background-image: url('../../assets/images/pages/discover-enterprise/form-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
