.zaions__Social_Media_bg {
  background: url('../../../assets/images/pages/solution/developer-hero-desktop.jpg');
  background-position: center 44%;
  background-size: cover;
  background-repeat: no-repeat;
}
