.zaions__patner_program_bg {
  background: url('../../../assets/images/pages/company/partners/illo-desktop-1440x651-1.jpg');
  background-position: center 57%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 8rem !important;
}
