.zaions__digital_marketing_bg {
  background: url('../../../assets/images/pages/solution/digitalmarketing.jpg');
  background-position: center 51%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem !important;
}
