.zaions__customer_service_bg {
  background: url('../../../assets/images/pages/resources/customersupport.jpg');
  background-position: center 74%;
  background-size: cover;
  background-repeat: no-repeat;
}
