.zaions__link_Management_bg {
  background: url('../../../assets/images/pages/products/link-management_desktop@3x-1.png');
  /* background-position: center 115%; */
  background-position: center 79%;
  background-size: cover;
  background-repeat: no-repeat;
}
.zaions__pb {
  padding-bottom: 6.5rem;
}
.Zaions101__baner_img {
  width: 85%;
  position: relative;
  top: -15%;
}
.zaions__101_secondarybtn {
  background-color: #edf2fe;
  border-radius: 6px;
  font-size: inherit;
  transition: background 100ms linear;
  text-decoration: none;
  line-height: normal;
  outline: none !important;
  font-size: 15px;
}
.zaions__101_secondarybtn:hover {
  background: #cedafa;
  color: #2a5bd7;
}
