.zaions__shortlink_btn {
  margin: 0px;
  margin-top: 2px;
  background-color: #1b3987;
  border-radius: 6px;
}
.zaions__shortlink_btn:hover {
  background: #2a5bd7;
}
.zaions__shortlink_btn:active {
  border: 2px solid #fff;
  background: #2a5bd7;
}
